[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.MaintainabilityRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.ReadabilityRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none
